<html>
	<head>
		<title>慕课网</title>
		<meta charset="utf-8">
		<link href="css/css.css" rel="stylesheet">
		<link href=" css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div id="tou1">
			<img src=" images/landp_banner.jpg">
		</div>
		<div id="nr1">
			<center>
				<button class="btn btn-danger" style="width:150px; ">加入学习</button>
				<h3>第一关PHP基础入门</h3>
				<p>作为当今主流的开发语言，PHP集简单、免费、高效等荣誉于一身，但是，想学习她还是要脚踏实地地从基础语法开始，当然，对于将来要在Web开发领域叱咤风云的你来说，跟HTML和CSS还有一些不得不说的故事</p>
				<div id="nr11">
					<div style="position:relative;">
						<img src=" images/z1.jpg" >
						<h5 style="position:absolute; top:175; left:120;">PHP入门篇</h5>
						<h6 style="position:absolute; top:210; left:0;">更新至7-14</h6>
						<h6 style="position:absolute; top:210; left:160;">课程时长：5小时57分</h6>
					</div>
					<div style="position:relative;">
						<img src=" images/z2.jpg" >
						<h5 style="position:absolute; top:175; left:120;">PHP入门篇</h5>
						<h6 style="position:absolute; top:210; left:0;">更新至7-14</h6>
						<h6 style="position:absolute; top:210; left:160;">课程时长：5小时57分</h6>
					</div>
					<div style="position:relative;">
						<img src="images/z4.jpg">
						<h5 style="position:absolute; top:175; left:120;">PHP入门篇</h5>
						<h6 style="position:absolute; top:210; left:0;">更新至7-14</h6>
						<h6 style="position:absolute; top:210; left:160;">课程时长：5小时57分</h6>
					</div>
				</div>
			</center>
		</div>
		<div id="nr1" style="margin-top: -3%; height:680px;" >
			<center>
				<h3 style="padding-top:3%;">第二关PHP基础应用</h3>
				<p>web开发与数据库息息相关，接下来一起来学习MySQL数据库的基础知识，与此同时，我们还会把php的基础知识结合起来做几个实用的小案例，掌握了这些知识之后，下一步小伙伴们就可以做出一个有数据交互的网站了，是不是很神奇呢？</p>
				<div id="nr11">
					<div style="position:relative;">
						<img src=" images/z4.jpg" >
						<h5 style="position:absolute; top:175; left:120;">PHP入门篇</h5>
						<h6 style="position:absolute; top:210; left:0;">更新至7-14</h6>
						<h6 style="position:absolute; top:210; left:160;">课程时长：5小时57分</h6>
					</div>
					<div style="position:relative;">
						<img src=" images/z5.jpg" >
						<h5 style="position:absolute; top:175; left:120;">PHP入门篇</h5>
						<h6 style="position:absolute; top:210; left:0;">更新至7-14</h6>
						<h6 style="position:absolute; top:210; left:160;">课程时长：5小时57分</h6>
					</div>
					<div style="position:relative;">
						<img src=" images/z6.jpg" >
						<h5 style="position:absolute; top:175; left:120;">PHP入门篇</h5>
						<h6 style="position:absolute; top:210; left:0;">更新至7-14</h6>
						<h6 style="position:absolute; top:210; left:160;">课程时长：5小时57分</h6>
					</div>
					<div style="position:relative; margin-top: 2%; margin-left:350px;">
						<img src=" images/z7.jpg">
						<h5 style="position:absolute; top:175; left:120; ;">PHP入门篇</h5>
						<h6 style="position:absolute; top:210; left:0;">更新至7-14</h6>
						<h6 style="position:absolute; top:210; left:160;">课程时长：5小时57分</h6>
					</div>
				</div>
			</center>
		</div>
		<div id="nr1"  style="margin-top: -3%; height:400px;">
			<center>
				<h3 style="padding-top:3%;">第三关PHP应用进阶</h3>
				<p>在这关小伙伴们将掌握基本的WEB开发思路和技巧以及MVC设计模式！为通往PHP大师的道路奠定了坚实的基础！ </p>
				<div id="nr11">
					<div style="position:relative;">
						<img src=" images/z8.jpg" >
						<h5 style="position:absolute; top:175; left:120;">PHP入门篇</h5>
						<h6 style="position:absolute; top:210; left:0;">更新至7-14</h6>
						<h6 style="position:absolute; top:210; left:160;">课程时长：5小时57分</h6>
					</div>
					<div style="position:relative;">
						<img src=" images/z9.jpg" >
						<h5 style="position:absolute; top:175; left:120;">PHP入门篇</h5>
						<h6 style="position:absolute; top:210; left:0;">更新至7-14</h6>
						<h6 style="position:absolute; top:210; left:160;">课程时长：5小时57分</h6>
					</div>
					<div style="position:relative;">
						<img src=" images/z10.jpg" >
						<h5 style="position:absolute; top:175; left:120;">PHP入门篇</h5>
						<h6 style="position:absolute; top:210; left:0;">更新至7-14</h6>
						<h6 style="position:absolute; top:210; left:160;">课程时长：5小时57分</h6>
					</div>
				</div>
			</center>
		</div>
		<div id="nr2">
			<center>
				<img src=" images/dot_program_end.png">
			</center>
		</div>
		<footer>
			<ul>
				<li><a href="#" style="text-decoration: none;">网站首页</a></li>
				<li><a href="#" style="text-decoration: none;">企业合作</a></li>
				<li><a href="#" style="text-decoration: none;">人才招聘</a></li>
				<li><a href="#" style="text-decoration: none;">联系我们</a></li>
				<li><a href="#" style="text-decoration: none;">讲师招募</a></li>
				<li><a href="#" style="text-decoration: none;">常见问题</a></li>
				<li><a href="#" style="text-decoration: none;">意见反馈</a></li>
				<li><a href="#" style="text-decoration: none;">慕课大学</a></li>
				<li><a href="#" style="text-decoration: none;">友情链接</a></li>
			</ul>
			<p>Copyright © 2017 imooc.com All Rights Reserved | 京ICP备 13046642号-2</p>
			<div class="row">
				<img src=" images/di1.png">
				<img src=" images/di2.png">
				<img src=" images/di3.png">
			</div>
		</footer>
	</body>
</html>